extends ../page

block vars
  - var title = "گروه اسلک"

block content
  div.container
    div.row
      div.columns
        div
          h4 گروه اسلک
          p.last ایمیل دعوت به گروه اسلک <span class='en'>iDevCenter</span> برای شما ارسال شد.
          p.last لطفا اینباکس خود را چک کنید.
