extends page

block content
  div.container
    div.row.center(style='margin-top: 200px; margin-bottom: 20px;')
      h4 یافت نشد
      div همچین صفحه‌ای در سایت وجود ندارد.
      div احتمالا قبلا بوده ولی الان دیگه نیست متاسفانه.
