extends page

block content
  div.container
    div.row.center(style='margin-top: 200px; margin-bottom: 20px;')
      h4 اوه باز هم اررور داد که!
      div بعد از این همه سال هنوز یاد نگرفته‌ام یه سایت بنویسم :(
