extends layout

block body
  div#page-wrap
    div#page
      div#header
        div.container
          div.row
            div.six.columns
              ul#menu
                li
                  a(href='/') خانه
                li
                  a(href='/newsletter') خبرنامه
                li
                  a(href='/slack') گروه اسلک

            div.six.columns(style='text-align: left')
              a#logo(href='/')
                img(src='/assets/images/logotype.svg')
                span#tagline جامعه توسعه‌دهندگان فارسی‌زبان

      div#content
        block content

  div#footer-wrap
    div.container#footer
      div.row
        div.twelve.columns
          | ساخته شده با <span style='color: #e74c3c;'>&hearts;</span> در تهران.
          | در خدمت برنامه‌نویسان فارسی‌زبان از سال ۱۳۸۱ تا کنون.
