* {
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  direction: rtl;
  line-height: 22px;
  font-family: 'iransans-web';
  font-size: 11px;
}

h1, h2, h3, h4, h5, h6 {
  color: #e74c3c;
}

h1.plain, h2.plain, h3.plain, h4.plain, h5.plain, h6.plain {
  color: #222;
}

a {
  text-decoration: none;
  color: #e74c3c;
}

a:hover {
  text-decoration: underline;
  color: #e74c3c;
}

a.plain {
  color: #222;
}

a.plain:hover {
  color: #e74c3c;
}

ul li {
  margin-bottom: .3em;
  list-style-type: disc;
}

input[type='email']:focus {
  border: 1px solid #aaa;
}

input.button-primary {
  background-color: #e74c3c !important;
  border-color: #e74c3c !important;
}

.center {
  text-align: center;
}

.last {
  margin-bottom: 0;
}

.ltr {
  direction: ltr;
}

.en {
  font-family: 'Trebuchet MS';
  font-size: 1.2em;
}

.box {
  margin-top: 15%;
  padding: 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
}

#page-wrap {
  min-height: 100%;
  margin-bottom: -40px;
}

#page-wrap:after {
  content: '';
  display: block;
  height: 40px;
}

#header {
  padding-top: 25px;
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
}

#header #logo {
  display: block;
  text-decoration: none;
  text-align: center;
  float: left;
}

#header #logo img {
  height: 25px;
}

#header #tagline {
  display: block;
  line-height: 35px;
  color: #666;
}

#header #menu {
  padding-top: 40px;
  margin-bottom: 0;
}

#header #menu li {
  display: inline;
}

#header #menu li a {
  color: #333;
  margin-left: 20px;
}

#content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#footer-wrap {
  height: 40px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #eee;
}

#footer {
  padding-top: 8px;
  font-size: 9px;
}
