---
title: 'خبرنامه'
template: 'page.jade'
---

.container
  .row
    .two.columns &nbsp;
    .eight.columns.box
      h5 خبرنامه
      p من هر هفته بهترین اخبار و لینک‌های مرتبط با برنامه‌نویسی و توسعه نرم‌افزار را جمع‌آوری می‌‌کنم و آنها را برای شما ارسال می‌کنم.
      p برای عضویت آدرس ایمیل خود را وارد کنید:
      form.last(action="//idevcenter.us10.list-manage.com/subscribe/post?u=86a5c2813f59c8e43d471b5eb&amp;id=621e10fdc0", method="post")
        div.row.ltr
          input.u-full-width.en(name="EMAIL", type='email', placeholder='you@domain.com')
        div(style='position: absolute; top: -5000px;')
          input(type='text', name='b_86a5c2813f59c8e43d471b5eb_621e10fdc0', tabindex='-1', value='')
        input.button-primary.last(type='submit', value='عضویت')
