extends ../page

block content
  div.container
    div.row
      div.columns
        div
          h4 خبرنامه
          p.last ایمیل عضویت در خبرنامه <span class='en'>iDevCenter</span> برای شما ارسال شد.
          p.last لطفا اینباکس خود را چک کنید.
