extends ../layout

block content
  .container
    .row
      .two.columns &nbsp;
      .eight.columns.box
        h5 خبرنامه
        p.last یک ایمیل جهت تایید آدرسی که وارد کردید برای شما ارسال شده است.
        p.last لطفا بر روی لینکی که در آن وجود دارد کلیک کنید تا اشتراک شما تایید شود.
