extends ../page

block vars
  - var title = "خبرنامه"

block content
  div.container
    div.row
      div.six.columns
        div
          h4 خبرنامه
          p خبرنامه‌ <span class='en'>iDevCenter</span> هر دو هفته یکبار صبح جمعه به آدرس ایمیل شما ارسال می‌شود و حاوی مطالب گوناگون و مفیدی در زمینه توسعه نرم‌افزار است که به شما کمک می‌کند برنامه‌نویس بهتری بشوید.
          br

        div
          h6.plain شماره‌های پیشین:
          ul.last
            each newsletter in newsletters.slice().reverse()
              li
                a(href="/newsletter/archive/#{newsletter.issue}" class='plain') #{newsletter.title} &ndash; #{newsletter.date}

      div.one.columns
        span &nbsp;

      div.five.columns(style='margin-top: 61px;')
        p برای عضویت در این خبرنامه آدرس ایمیل خود را وارد کنید:
        form.last(action="//idevcenter.us10.list-manage.com/subscribe/post?u=86a5c2813f59c8e43d471b5eb&amp;id=621e10fdc0", method="post")
          div.row.ltr
            input.u-full-width.en(name="EMAIL", type='email', placeholder='you@domain.com')
          div(style='position: absolute; top: -5000px;')
            input(type='text', name='b_86a5c2813f59c8e43d471b5eb_621e10fdc0', tabindex='-1', value='')
          input.button-primary.last(type='submit', value='عضویت')
