extends ../page

block vars
  - var title = "خبرنامه"


block content
  div.container
    div.row
      div.columns
        div
          h4 خبرنامه
          p.last آدرس ایمیل شما به فهرست مشترکین خبرنامه اضافه شد.
          p.last منتظر اولین شماره خبرنامه در اینباکس خود باشید.
